
<div class="container">
  
<h1> Thanks for choosing us! </h1>
<h2> let's continue phase 2/3</h2>

<br>
<br>
<br>



<div class="container">
    <div class="row">
  
      <div class="col-xs-6">
          <h5>Filter by any field you want! press enter to log</h5>

          <input type="text" class="form-control" (keyup.enter)="addToInputString($event)"   [(ngModel)]="term" >
          
      </div>
  
      <div class="col-xs-6">
          <h5> Your search history</h5>
          <div *ngFor="let input of searchInput">
            {{input}}
          
          </div>
          
      </div>
  
    </div>
  </div>


<h4>
  Order Details:
</h4>
<br>

<h5>Start Date: {{form.formData.pickUpDate | date:'shortTime'}}</h5>
<h5>End Date: {{form.formData.returnDate | date:'shortTime'}} </h5>
<h5>Pick Up Location {{form.formData.branch}} </h5>
</div>


<h3>
  Available Cars:
</h3>
<br>

<div *ngFor="let car of cars | filter:term"  class="container">
  <!--&& car.branch.id == form.formData.branch.id-->

<div *ngIf="car.isAvailable && car.branchObject.BranchName == form.formData.branch">
<div class="container">

<div class="card" style="width: 18rem;" >
    <img class="card-img-top rounded mx-auto d-block" height="200" width="300"
        src="data:image/png;base64,{{car.image}}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"> </h5>
    </div>

   

    <ul class="list-group list-group-flush text-center">
        <li class="list-group-item">Car Cost: {{car?.carTypeObject.dailyCost}} </li>
        <li class="list-group-item">Car Daily Penalty: {{car?.carTypeObject.dailyPenalty}} </li>


        <li class="list-group-item">Car Model: {{car?.carTypeObject.model }} </li>
        <li class="list-group-item">Car Manufacturer: {{car?.carTypeObject.manufacturer}}</li>
        <li class="list-group-item">Car Gear Type: {{car?.carTypeObject.gearType}}</li>
        <li class="list-group-item">Car Manufacturing
            Year:{{car?.carTypeObject.manufacturingYear  | date: short  }}</li>
        <li class="list-group-item">Car Region: {{car?.branchObject.BranchName}}</li>

        <li class="list-group-item">Car daily cost: {{car?.carTypeObject.dailyCost}} </li>
        <li class="list-group-item">Car Mileage: {{car?.mileage}} </li>
      
        <li class="list-group-item">Rent Days {{form.formData.totalNumbweOfDays}} </li>
        <button (click)="GoToRentCarPage(car)" >Choose Model</button>
      

    </ul>
</div>

    <br>
    <br>
</div>
</div>




