<h1> Thanks for choosing {{car?.carTypeObject.model }}! that's a great choice! </h1>
<h2> let's continue </h2>

<div class="container">
<div class="card" style="width: 18rem;">
    <img class="card-img-top " height="200" width="300"
        src="data:image/png;base64,{{car.image}}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"> </h5>
    </div>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">Car Model: {{car?.carTypeObject.model }} </li>
        <li class="list-group-item">Car Manufacturer: {{car?.carTypeObject.manufacturer}}</li>
        <li class="list-group-item">Car Gear Type: {{car?.carTypeObject.gearType}}</li>
        <li class="list-group-item">Car Manufacturing
            Year:{{car?.carTypeObject.manufacturingYear  | date: short  }}</li>
        <li class="list-group-item">Car Region: {{car?.region}}</li>

        <li class="list-group-item">Car daily cost: {{car?.carTypeObject.dailyCost}} </li>
        <li class="list-group-item">Car Mileage: {{car?.mileage}} </li>
    </ul>

    <br>
    <br>

</div>




<form #userForm="ngForm" ngNativeValidate (ngSubmit)="Create(user)" >
    <div class = "panel panel-primary" >
    
        <div class="panel-heading">
          <h3 class="panel-title"> Choose Dates  </h3>
        </div>
    
        <div class="panel-body">
    
          
    
                  <div class="form-group " [class.has-success]="dateControl.valid" [class.has-error]="dateControl.invalid && dateControl.touched">
                      <label for="pickUpDate"> Pick Up Date </label>
                      <input #dateControl="ngModel" required id="pickUpDate" name="pickUpDate" [(ngModel)]="pickUpDate" type="date"  class="form-control">
                      <span class="help-block" *ngIf="dateControl.invalid && dateControl.touched">
                        PickUp Date is requiered
                      </span>
                    </div>

                    <div class="form-group " [class.has-success]="dateControl.valid" [class.has-error]="dateControl.invalid && dateControl.touched">
                        <label for="returnDate">Return Date</label>
                        <input #dateControl="ngModel" required id="returnDate" name="pickUpDate" [(ngModel)]="returnDate" type="date"  class="form-control">
                        <span class="help-block" *ngIf="dateControl.invalid && dateControl.touched">
                            DropOff Date is requiered
                        </span>
                      </div>

    
        
        </div>


      </div>
    
        
          <div  class="panel-footer">
              <button type="submit" class="btn btn-primary"> Continue  </button>
          </div>
    
 
    
    
    
    </form>
    
  </div>
    
 
    