<!--
<h1> Thanks for choosing {{car?.carTypeObject.model }}! that's a great choice! </h1>
<h2> let's continue </h2>

<div class="container">
<div class="card" style="width: 18rem;">
    <img class="card-img-top " height="200" width="300"
        src="data:image/png;base64,{{car.image}}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"> </h5>
    </div>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">Car Model: {{car?.carTypeObject.model }} </li>
        <li class="list-group-item">Car Manufacturer: {{car?.carTypeObject.manufacturer}}</li>
        <li class="list-group-item">Car Gear Type: {{car?.carTypeObject.gearType}}</li>
        <li class="list-group-item">Car Manufacturing
            Year:{{car?.carTypeObject.manufacturingYear  | date: short  }}</li>
        <li class="list-group-item">Car Region: {{car?.region}}</li>

        <li class="list-group-item">Car daily cost: {{car?.carTypeObject.dailyCost}} </li>
        <li class="list-group-item">Car Mileage: {{car?.mileage}} </li>
    </ul>

    <br>
    <br>

</div>
-->


