<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<h1>
    Car Rental Service
</h1>

<div class="search-hero">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
        placeholder="&#61442;  Start searching for a car by number or name ">
</div>
<br>
<br>




<div *ngFor=" let car of cars | filter:searchText" id="container" class="row col-md-3">

    <div class="card " style="width: 18rem;">

        <img height="150" width="220" class="card-img-top" src="data:image/png;base64,{{car.image}}"
            alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Car Number: {{car.carNumber}}</h5>
            <h5 class="card-title">Car Region: {{car.region}}</h5>
            <h5 class="card-title">Car Mileage: {{car.mileage}}</h5>
            <h5 class="card-title">Car Manufacturer:   </h5>
            <p class="card-text">sample text</p>
            <a href="#" class="btn btn-primary"> Rent </a>
        </div>
    </div>
    <br>
</div>

<div *ngFor=" let c of carTypes" >
<div class="card " style="width: 18rem;">

<h5> {{c.Manufacturer}}</h5>

</div>
</div>


<!--
<div class="container"  >
    <br>
	<div  class="row" id="ads">

            
<div    *ngFor=" let car of cars" class="col-md-5">
    <div  class="card rounded pad-div">
        <div class="card-image">
            <span class="card-notify-badge">Low KMS</span>
            <span class="card-notify-year">2018</span>
            <img class="img-fluid" src="data:image/png;base64,{{car.image}}" height="250" width="350" alt="Alternate Text" />
        </div>
        <div class="card-image-overlay m-auto">
            <span class="card-detail-badge"> car.</span>
            <span class="card-detail-badge">$28,000.00</span>
            <span class="card-detail-badge">{{car.mileage}} Kms</span>
        </div>
        <div class="card-body text-center">
            <div class="ad-title m-auto">
                <h5>Honda Accord LX</h5>
            </div>
            <a class="ad-btn" href="#">View</a>
        </div>
    </div>
    <div style="height: 50px" ></div>
    
</div>




</div>
</div> -->