

<h1>
    Car Rental Service
</h1>

<div class="search-hero">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="on"
        placeholder="&#61442;  Start searching for a car by number or name ">
</div>
<br>
<br>



<p>
    test
</p>
<div *ngIf="cars">
    
 <div *ngFor=" let car of CarAndType; let i = index " id="container" class="row col-md-3">
       

    <div class="card " style="width: 18rem;">

        <img height="150" width="220" class="card-img-top" src="data:image/png;base64,{{car.image}}"
            alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Car Number: {{car.carNumber}}</h5>
            <h5 class="card-title">Car Region: {{car.region}}</h5>
            <h5 class="card-title">Car Mileage: {{car.mileage}}</h5>   
            <h5 class="card-title">index: {{i }}   </h5>
            <h5 class="card-title">Car Manufacturer:  {{car.manufacturer}} </h5>
            <p class="card-text">car type sample : </p>
            <a href="#" class="btn btn-primary"> Rent </a>
        </div>
    </div>
    <br>
</div>
</div>
<!-- <div *ngFor=" let c of carTypes">
    <div class="card " style="width: 18rem;">

        <h5> {{c.Manufacturer}}</h5>

    </div>
</div> 

-->